# pt2onnx-converter dependencies
# Package licenses:
#   ultralytics  — AGPL-3.0
#   torch        — Apache-2.0 / BSD-3-Clause
#   onnxruntime  — MIT
#   onnx         — Apache-2.0
#   onnx_ir      — Apache-2.0
#   onnxscript   — MIT
#   onnxslim     — MIT
torch>=2.0.0
ultralytics==8.3.162
onnxruntime>=1.17.0
onnx>=1.17.0
onnx_ir>=0.2.0
onnxscript>=0.7.0
onnxslim>=0.1.0
